{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col mb-4">
        <h2> <span class="badge bg-light text-dark"> Куда ты хочешь поехать? </span> </h2>
    </div>
</div>


<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for city in cities %}
    <a href="{{ city.uid }}">
    <div class="container-fluid" style="height:auto;">
        <div class="card"  >
            <img src="{{ city.image }}" style="height:30vh; width:100; object-fit: cover" class=" opacity-100" alt="..." >
            <div class="card-img-overlay d-flex align-items-end">
                <div class="card bg-secondary" style="--bs-bg-opacity: .70;">
                    <h2 class="card-text text-white" > {{ city.name }} </h2>
                </div>
            </div>
        </div>
    </div>
    </a>
    {% endfor %}
</div>

{% endblock %}
