{% extends 'base.html' %}

{% block content %}

    <div class="row justify-content-start">
        <div class="col-4">
            <div class="card shadow-sm">
                <div class="card-body">
                {{ city_name }}
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow-sm">
                <div class="card-body">
                {{ route_name }}
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">

            <div class="col">
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    {% for place in places %}
                    <div class="col">
                        <div class="card shadow-sm">
                          <img src="..." class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title"> {{ place.name }} </h5>
                            <p class="card-text"> Описание кратко </p>
                            <button type="button" class="btn btn-link"> Подробнее </button>
                          </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm " >
                    <div class="card-body">
                      <h5 class="card-title"> {{ route_name }} </h5>
                      <a href="#" class="btn btn btn-success">Сохранить</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
