{% extends 'base.html' %}

{% block content %}

    <div class="row justify-content-between">
        <div class="col mb-4">
            <a href="{{ url_for('routes.show_routes', city_id=city_id) }}" class="btn btn-secondary btn-lg"> {{ route_name }} </a>
            <button onclick="window.print()" class="btn btn-outline-secondary btn-lg noprint"> PDF </button>
        </div>
    </div>


    <div class="container-fluid" style="height:auto;">

        <div class="card text-white">
            <img src="{{ route_image }}" style="height:50vh; width:100; object-fit: cover" class=" opacity-100" alt="..." >
        </div>
        <div class="card-body">
            <h4 class="card-text"> {{ route_description }}</h4>
            <p class="card-text">Длительность маршрута около {{ route_duration }} часов</p>
        </div>
    </div>

    <br>

    <div class="row" >

        <div class="col-md-auto noprint" style="max-width: 35vh;">
            <nav class="navbar bg-light">
                <div class="container">
                    <ul class="navbar-nav">
                        {% for point in route_points %}
                        <li class="nav-item fw-bold">
                            <a class="nav-link" href="#{{ point.place.name }}"> {{ point.place.name }} </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </nav>
        </div>

        <div class="col col-lg">
            <div class="container" style="height: auto; overflow-y: auto; position: relative"  data-bs-target=".navbar" data-bs-offset="10">
            {% for point in route_points %}
                {% if point.distance != 0 %}
                Расстояние до следующей точки маршрута {{ point.distance }} метров
                {% endif %}
                <div class="card mb-3" id="{{ point.place.name }}">
                    <div class="row g-0">
                        <div class="col-md-4 ">
                            <br>
                            <img src="{{ point.place.image }}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ point.place.name }}</h5>
                                <p class="card-text"> {{ point.place.description }} </p>
                                <p class="card-text"><small class="text-muted">Приблизительное время посещения {{ point.place.duration }} минут</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

<br>

{% endblock %}
