{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col mb-4">
            <a href="{{ url_for('cities.show_cities') }}" class="btn btn-secondary btn-lg">{{ city_name }}</a>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-md-center">
        {% for route in city_routes %}
            <a href="{{ url_for('places.show_places_for_route', city_id=city_id, route_id=route.uid) }}">
                <div class="container-fluid" style="height:auto;">
                    <div class="card"  >
                        <img src="{{ route.image }}" style="height:30vh; width:100; object-fit: cover" class=" opacity-100" alt="..." >
                        <div class="card-img-overlay d-flex align-items-end">
                            <div class="card bg-secondary" style="--bs-bg-opacity: .70;">
                                <h2 class="card-text text-white" > {{ route.name }} </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}
